.dropdown {
    display: inline-block;
}

.btn btn-danger {
    display: inline-block;
}

.project {
    display: inline-block;
    border: none;
    width: 32%;
}
.container-fluid {
    margin-left: 0px;
    margin-right: 0px;
}